<h2 mat-dialog-title>Customer</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-placeholder>Name</mat-placeholder>
          <input type="text" formControlName="Name" matInput required maxlength="45">
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-placeholder>Phone Number</mat-placeholder>
          <input type="text" formControlName="MobileNo" matInput required pattern="^[0-9]*$" minlength="5" maxlength="15">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Email</mat-placeholder>
        <input type="text" formControlName="Email" matInput required email maxlength="45">
      </mat-form-field>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-placeholder>Address</mat-placeholder>
        <input type="text" formControlName="Address" matInput required maxlength="45">

      </mat-form-field>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE CUSTOMER</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE CUSTOMER</button>

  </mat-dialog-actions>
</form>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onNoClick(row)" tabindex="-1">Cancel</button>
</mat-dialog-actions>