@import "../../../../styles/_var.scss";
$main-clr: #940000;
$btn-clr: #242425;

:host {
  display: block;
  background: #fff url('/assets/img/demo/backgrounds/bk.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.forgot {
  background: white;
  width: 380px;

  .forgot-header {
    background: whitesmoke;
    padding: 24px;

    .logo {
      height: auto;
      width: 130px;
    }
  }

  .forgot-content {
    padding: 24px 42px 42px;

    .mat-form-field {
      width: 100%;
      margin: 0 0 18px;
    }

    a {
      text-decoration: none;
      color: $main-clr;

      &:hover {
        text-decoration: underline;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
  }
}

.extra-options a , .login[_ngcontent-c2] .login-content[_ngcontent-c2] a[_ngcontent-c2]{
    color: $main-clr ;
}
.mat-raised-button.mat-primary[_ngcontent-c2], .mat-fab.mat-primary[_ngcontent-c2], .mat-mini-fab.mat-primary[_ngcontent-c2] {
    background-color: $btn-clr;
}

.mat-raised-button.mat-primary[disabled][_ngcontent-c2], .mat-raised-button.mat-accent[disabled][_ngcontent-c2], .mat-raised-button.mat-warn[disabled][_ngcontent-c2], .mat-raised-button[disabled][disabled][_ngcontent-c2], .mat-fab.mat-primary[disabled][_ngcontent-c2], .mat-fab.mat-accent[disabled][_ngcontent-c2], .mat-fab.mat-warn[disabled][_ngcontent-c2], .mat-fab[disabled][disabled][_ngcontent-c2], .mat-mini-fab.mat-primary[disabled][_ngcontent-c2], .mat-mini-fab.mat-accent[disabled][_ngcontent-c2], .mat-mini-fab.mat-warn[disabled][_ngcontent-c2], .mat-mini-fab[disabled][disabled][_ngcontent-c2] {
    background-color: rgba(0, 0, 0, 0.12);
}
.login[_ngcontent-c2] .login-header[_ngcontent-c2] .logo[_ngcontent-c2] {
    height: auto;
    width: 100px;
}
.forgot[_ngcontent-c2] .forgot-header[_ngcontent-c2] {
    background: whitesmoke;
    padding: 24px;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-fab, .mat-mini-fab{
     font-family: 'Montserrat', sans-serif  !important; }
p.note a {
    font-size: 13px;
}
